<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.mapper.BlogMapper">
    <select id="getMyStarList" parameterType="map" resultType="BlogView">
        select *
        from `blog`
        where `id` in (select `blog_id` from `blog_star` where `logic_delete` = 0 and `username` = #{username})
          and `logic_delete` = 0
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="getMyUpList" parameterType="map" resultType="BlogView">
        select *
        from `blog`
        where `id` in (select `blog_id` from `blog_up` where `logic_delete` = 0 and `username` = #{username})
          and `logic_delete` = 0
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="getMyDownList" parameterType="map" resultType="BlogView">
        select *
        from `blog`
        where `id` in (select `blog_id` from `blog_down` where `logic_delete` = 0 and `username` = #{username})
          and `logic_delete` = 0
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="deletedBlogCount" resultType="long">
        select count(*)
        from blog
        where logic_delete = 1;
    </select>

    <sql id="getBlogList">
        from blog where 1 = 1
        <choose>
            <when test="blogView.startTime != null and blogView.endTIme != null">
                and post_time <![CDATA[ >= ]]> from_unixtime(#{blogView.startTime} / 1000) and
                post_time
                <![CDATA[ <= ]]> from_unixtime(#{blogView.endTime} / 1000)
            </when>
            <when test="blogView.title != null">
                and title like concat('%',#{blogView.title},'%')
            </when>
            <when test="blogView.description != null">
                and `description` like concat('%',#{blogView.description},'%')
            </when>
            <when test="blogView.status != null">
                and `status` = #{blogView.status}
            </when>
            <when test="blogView.logicDelete != null">
                and `logic_delete` = #{blogView.logic_delete}
            </when>
            <when test="blogView.authorNickname != null">
                and `author_username` in (select username from user where nickname like
                concat('%',#{blogView.authorNickname},'%'))
            </when>
        </choose>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        <if test="!isAsc">desc</if>
    </sql>

    <select id="getBlogList" resultType="BlogView">
        select *
        <include refid="getBlogList"/>
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="getBlogListCount" resultType="long">
        select count(*)
        <include refid="getBlogList"/>
    </select>
</mapper>