<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.mapper.BlogMapper">
    <select id="getBlogList" resultMap="BlogView">
        select b.id,
        b.title,
        b.description,
        b.cover,
        b.up,
        b.down,
        b.star,
        b.views,
        b.create_time,
        c.id as category_id,
        c.name as category
        <if test="userId != null">
            ,
            if((select count(up.id) from up where up.user_id = #{userId}) > 0, 1, 0) as is_up,
            if((select count(down.id) from down where down.user_id = #{userId}) > 0, 1, 0) as is_down,
            if((select count(star.id) from star where star.user_id = #{userId}) > 0, 1, 0) as is_star
        </if>
        from blog b
        left join blog_category bc on b.id = bc.blog_id
        left join category c on c.id = bc.category_id
        where (b.title like concat('%', #{keywords}, '%')
        or b.description like concat('%', #{keywords}, '%')
        or b.content like concat('%', #{keywords}, '%'))
        group by b.id, b.title, b.description, b.cover, b.up, b.down, b.star, b.views, b.create_time, category_id,
        category
    </select>
    <resultMap id="BlogView" type="BlogViewPo">
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="cover" property="cover"/>
        <result column="up" property="up"/>
        <result column="down" property="down"/>
        <result column="star" property="star"/>
        <result column="views" property="views"/>
        <result column="is_up" property="isUp"/>
        <result column="is_down" property="isDown"/>
        <result column="is_star" property="isStar"/>
        <result column="create_time" property="createTime"/>
        <collection property="categories" ofType="Category">
            <result column="category_id" property="id"/>
            <result column="category" property="name"/>
        </collection>
    </resultMap>
</mapper>