<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.mapper.UserMapper">
    <select id="getMyInfo" resultType="UserVo">
        select u.nickname,
               count(distinct case when b.status = 0 then b.id end) as auditing_count,
               count(distinct case when b.status = 1 then b.id end) as pass_count,
               count(distinct case when b.status = 2 then b.id end) as no_pass_count,
               count(distinct case when r.type = 0 then r.id end)   as up,
               count(distinct case when r.type = 1 then r.id end)   as down,
               count(distinct case when r.type = 2 then r.id end)   as star
        from user u
                 left join blog b on u.id = b.author_id and b.is_deleted = 0
                 left join record r on r.user_id = u.id and r.blog_id is not null and r.is_deleted = 0
        where u.id = #{id}
          and u.is_deleted = 0
    </select>
</mapper>