<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.mapper.UserMapper">
    <select id="getDeletedUserCount" resultType="long">
        select count(*)
        from userVo
        where logic_delete = 1
    </select>

    <sql id="getUserList">
        from userVo where 1 = 1
        <choose>
            <when test="userVo.startTime != null and userVo.endTIme != null">
                and register_time <![CDATA[ >= ]]> from_unixtime(#{userVo.startTime} / 1000) and
                register_time <![CDATA[ <= ]]> from_unixtime(#{userVo.endTime} / 1000)
            </when>
            <when test="userVo.username != null">
                and username like concat('%',#{userVo.username},'%')
            </when>
            <when test="userVo.nickname != null">
                and `nickname` like concat('%',#{userVo.nickname},'%')
            </when>
            <when test="userVo.identity != null">
                and `identity` = #{userVo.identity}
            </when>
            <when test="userVo.status != null">
                and `status` = #{userVo.status}
            </when>
            <when test="userVo.logicDelete != null">
                and `logic_delete` = #{userVo.logic_delete}
            </when>
        </choose>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        <if test="!isAsc">desc</if>
    </sql>

    <select id="getUserList" resultType="User">
        select *
        <include refid="getUserList"/>
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="getUserListCount" resultType="long">
        select count(*)
        <include refid="getUserList"/>
    </select>
</mapper>